<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifrəni unutmusunuz?</title>
    <link rel="shortcut icon" th:href="@{img/emblem.png}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{vendors/bootstrap.css}">
    <link rel="stylesheet" th:href="@{style/style.css}">
</head>

<body>


    <div id="login-main">

        <div class="login-main-inside">

            <div class="inside-top">
                <h3>Şifrəni yeniləmək üçün e-poçt ünvanınızı qeyd edin.</h3>
            </div>




            <div class="inside-bottom">
                <form method="post" th:action="@{/password-send}">
                    <div class="form-groupe">
                        <input id="mail-address" type="text" placeholder="E-poçt ünvanı" name="email">
                    </div>
                    
                    <button type="submit" value="submit" class="submitInput">Göndər</button>
                </form>
            </div>



        </div>
    </div>



</body>


</html>